<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--写入扩展存储，向扩展卡写入离线定位数据-->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--访问 GPS 定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--访问 WIFI 网络信息，网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取 WIFI 权限，网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--获取运营商信息，支持提供运营商信息相关接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cRc838XLTVFioa5Xns5UYKIOUx4Kp63x" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>