<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--用于访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许写设备缓存，用于问题排查-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--后台获取位置信息，需后台定位必选-->
    <!--需后台定位权限，且有可能运行在 Android Q 设备上，且设置了 target > 28，增加该权限-->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="BackgroundLocationPolicy" />
    <!--target >= 28 时启动后台定位必声明该权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--允许获取粗略位置，粗略定位必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--允许获取精确位置，精准定位必选-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，支持提供运营商信息相关的接口-->
    <!--允许获取网络状态，用于网络定位 (无 GPS 情况下定位)，需网络定位必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问 wifi 网络信息，wifi 网络信息用于进行网络定位-->
    <!--允许获取 wifi 网络信息，用于网络定位 (无 GPS 情况下定位)，需网络定位必选-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取 wifi 权限，wifi 网络信息用于进行网络定位-->
    <!--允许获取 wifi 状态改变，用于网络定位 (无 GPS 情况下定位)，需网络定位必选-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于申请调用 A-GPS 模块，卫星定位加速-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1088cc04ecd157e5709046d340d05ed2" />
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>