<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--写设备缓存，排查问题-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--Android 10+ 后台获取位置-->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="BackgroundLocationPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--获取粗略位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--获取精确位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取运营商信息，支持提供运营商信息相关接口-->
    <!--获取网络状态，网络定位 (无 GPS 情况下定位)-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--访问 WIFI 网络信息，网络定位-->
    <!--获取 WIFI 网络信息，网络定位 (无 GPS 情况下定位)-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取 WIFI 权限，网络定位-->
    <!--获取 WIFI 状态改变，网络定位 (无 GPS 情况下定位)-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--申请调用 A-GPS 模块，卫星定位加速-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>