<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Today">
        <activity
            android:name="pool.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="pool.login.UserAgreementAndPrivacyPolicyActivity" />
        <activity android:name=".module.function.FunctionActivity" />
        <activity android:name=".module.account.AccountHomeActivity" />
        <activity android:name=".module.account.AccountSecondActivity" />
        <activity android:name=".module.account.AccountDetailActivity" />
        <activity android:name=".module.account.AccountAnalysisActivity" />
        <activity android:name=".module.account.AddAccountActivity" />
    </application>

</manifest>