<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--声明应用可能用到电话相关的硬件功能-->
    <!--但该功能非应用运行必需-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />
    <uses-permission
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--Android 9 (API 28) 开始，Google 要求开发者在启动前台服务时，必须指定前台服务类型-->
    <!--前台服务声明 foregroundServiceType="dataSync" 时清单文件必须添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/icon"
        android:label="${app_name}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Today"
        tools:targetApi="29">
        <activity android:name=".module.setting.SettingActivity" />
        <activity android:name=".module.zhilin.android.AndroidActivity" />
        <activity android:name=".module.zhilin.tablayout.TabLayoutActivity" />
        <activity android:name=".module.zhilin.ZhiLinActivity" />
        <activity android:name=".module.detect.DetectActivity" />
        <activity android:name=".module.lingfang.LingFangActivity" />
        <activity android:name=".module.homecome.HomeComeActivity" />
        <activity android:name=".module.heartbox.HeartBoxActivity" />
        <activity android:name=".module.dangerous.DangerousActivity" />
        <activity android:name=".module.account.AccountAnalysisActivity" />
        <activity android:name=".module.account.AddAccountActivity" />
        <activity android:name=".module.account.AccountDetailActivity" />
        <activity android:name=".module.account.AccountSecondActivity" />
        <activity android:name=".module.account.AccountHomeActivity" />
        <activity android:name=".module.function.FunctionActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="pool.module.login.LoginActivity" />
        <activity android:name="pool.module.login.UserAgreementAndPrivacyPolicyActivity" />
        <activity
            android:name="pool.module.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".basic.service.PeriodicService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>